<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Design page</title>
</head>
<body>
    <h2>designate your wrap : </h2>
    <div th:each="ingredent : ${wrap}">
        <input name="ing" type="checkbox" th:value="${ingredent.id}" />
        <span th:text="${ingredent.name}"></span> <br />
    </div>

    <h2>designate your protein : </h2>
    <div th:each="ingredent : ${protein}">
        <input name="ing" type="checkbox" th:value="${ingredent.id}" />
        <span th:text="${ingredent.name}"></span> <br />
    </div>


    <h2>designate your veggies : </h2>
    <div th:each="ingredent : ${veggies}">
        <input name="ing" type="checkbox" th:value="${ingredent.id}" />
        <span th:text="${ingredent.name}"></span> <br />
    </div>


    <h2>designate your sauce : </h2>
    <div th:each="ingredent : ${sauce}">
        <input name="ing" type="checkbox" th:value="${ingredent.id}" />
        <span th:text="${ingredent.name}"></span> <br />
    </div>




</body>
</html>