<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error-username{
            color: red;
        }
    </style>
</head>
<body>
    <form th:object="${user}" method="post" action="/home/login">
        <input type="text" th:field="*{username}">
        <p class="error-username" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</p>
        <input type="text" th:field="*{password}">
        <input type="submit" name="submit" value="submit">
    </form>
</body>
</html>